@use '../util' as *;

.about {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium) {
      flex-direction: row;

      &--transform {
        flex-direction: row-reverse;
      }
    }
  }

  &__picture {
    max-height: rem(400);
    display: flex;

    @include breakpoint(medium) {
      max-height: none;
    }

    @include breakpoint(large) {
      max-height: rem(800);
    }
  }

  &__section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    max-width: rem(550);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: rem(70);

    @include breakpoint(medium) {
      padding-block: 0;
    }

    @include breakpoint(large) {
      max-width: rem(450);
      align-items: flex-start;
      text-align: start;
    }
  }

  &__heading {
    padding-inline: rem(54);

    @include breakpoint(large) {
      padding-inline: 0;
    }
  }

  &__description {
    color: $clr-dark-grayish-blue;
    padding: rem(24) rem(40) rem(32);

    @include breakpoint(medium) {
      padding-inline: rem(28);
    }

    @include breakpoint(large) {
      padding-inline: 0;
    }
  }

  &__link {
    width: max-content;
    position: relative;
    padding: 0 rem(8) rem(3);

    &:hover,
    &:focus-visible {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: '';
      width: 100%;
      height: rem(10);
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: rem(5);
      transition: opacity 200ms;
      opacity: 0.3;
      z-index: -1;
      box-sizing: content-box;
    }

    &--yellow::after {
      background-color: $clr-yellow;
    }

    &--red::after {
      background-color: $clr-soft-red;
    }
  }
}
