@use '../util' as *;

.header {
  height: rem(540);
  position: relative;
  background: url('../images/mobile/image-header.jpg') center / cover no-repeat;
  overflow-x: hidden;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: rem(32) rem(24) 0;
  }

  &__menu-btn {
    width: max-content;
    height: max-content;
    display: flex;
  }

  &__nav {
    width: min(100% - rem(48), rem(400));
    position: absolute;
    top: rem(106);
    right: rem(24);
    background-color: $clr-grayish-white;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: opacity 300ms ease;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      border-style: solid;
      border-width: 0 0 rem(26) rem(26);
      border-color: transparent transparent $clr-grayish-white transparent;
      top: rem(-22);
      right: 0;
    }

    @keyframes slide-down {
      from {
        transform: translateY(-10%);
      }
      to {
        transform: translateY(0);
      }
    }

    .header.active & {
      animation: slide-down 300ms ease forwards;
      visibility: visible;
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(28);
    padding: rem(42) rem(24) rem(38);
  }

  &__link {
    position: relative;
    color: $clr-dark-grayish-blue;
    padding: rem(4);

    @include breakpoint(large) {
      &:not(&--contact)::after {
        content: '';
        width: 100%;
        height: rem(4);
        position: absolute;
        bottom: 0;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 200ms;
      }

      &:not(&--contact):hover::after,
      &:not(&--contact):focus-visible::after {
        transform: scaleX(1);
      }
    }

    &--contact {
      width: rem(140);
      height: rem(56);
      justify-content: center;
      align-items: center;
      background-color: $clr-yellow;
      color: $clr-black;
      border-radius: rem(33);
      transition-duration: 200ms;
      transition-property: color, background-color;

      @include breakpoint(large) {
        &:hover,
        &:focus-visible {
          background-color: hsla(0, 0%, 100%, 0.2);
          color: $clr-white;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-block-start: rem(98);
  }

  &__arrow {
    position: absolute;
    bottom: rem(-170);
    animation: move-arrow 4000ms ease-in-out infinite;

    @keyframes move-arrow {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(20%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}
