@use '../util' as *;

.services {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    flex-direction: row;
  }

  &__card {
    width: 100%;
    position: relative;
  }

  &__picture {
    max-height: rem(600);

    img {
      object-position: center 45%;
    }

    @include breakpoint(large) {
      max-height: rem(800);
    }
  }

  &__content {
    width: min(100%, rem(430));
    position: absolute;
    left: 50%;
    bottom: 10%;
    text-align: center;
    padding-inline: rem(20);
    transform: translateX(-50%);

    &--graphic {
      color: $clr-dark-desaturated-cyan;
    }

    &--photography {
      color: $clr-dark-blue;
    }
  }

  &__heading {
    margin-block-end: rem(30);
  }
}
