@use '../util' as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $clr-grayish-white;
}

a,
a:active,
a:visited {
  & {
    display: inline-flex;
  }
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

svg,
svg * {
  pointer-events: none;
}

ul {
  list-style: none;
}

picture {
  width: 100%;
  display: flex;

  img {
    width: 100%;
  }
}
