@use '../util' as *;

body {
  font-family: $ff-barlow;
  font-size: rem(18);
  font-weight: 600;
}

p {
  font-size: rem(16);
  line-height: 1.6em;

  @include breakpoint(medium) {
    font-size: clamp(rem(16), 2vw, rem(18));
  }
}

h1,
h2,
figcaption,
.header__link--contact,
.about__link {
  font-weight: 900;
  font-family: $ff-fraunces;
}

.header__heading {
  font-size: clamp(rem(32), 6vw, rem(42));
  font-size: rem(32);
  letter-spacing: em(2.5);
  text-transform: uppercase;
  color: $clr-white;

  @include breakpoint(medium) {
    font-size: rem(42);
  }

  @include breakpoint(large) {
    font-size: rem(58);
    letter-spacing: rem(11);
  }
}

.header__link {
  font-size: rem(18);

  &--contact {
    font-size: rem(16);
    font-weight: 900;
    text-transform: uppercase;
  }
}

.about__heading {
  font-size: rem(28);
  color: $clr-very-dark-desaturated-blue;

  @include breakpoint(medium) {
    font-size: clamp(rem(28), 3.5vw, rem(32));
  }

  @include breakpoint(large) {
    font-size: rem(38);
    letter-spacing: rem(1.2);
  }
}

.about__link {
  font-size: rem(16);
  text-transform: uppercase;
  color: $clr-very-dark-desaturated-blue;
}

.services__heading {
  font-size: rem(28);
}

.testimonials__heading {
  font-size: rem(16);
  letter-spacing: rem(2);
  text-transform: uppercase;
  color: $clr-grayish-blue;

  @include breakpoint(medium) {
    font-size: rem(20);
    letter-spacing: rem(5);
  }
}

.testimonials__comment {
  color: $clr-dark-blue;
  line-height: 1.6em;
}

.testimonials__occupation {
  font-family: $ff-barlow;
  font-size: rem(14);
  color: $clr-grayish-blue;
}

.footer__attribution {
  font-size: rem(16);
}
