@use '../util' as *;

body {
  font-family: $ff-barlow;
  font-size: rem(18);
  font-weight: 600;
}

p {
  font-size: rem(16);
  line-height: rem(23.5);
}

h1,
h2,
figcaption,
.header__link--contact,
.about__link {
  font-weight: 900;
  font-family: $ff-fraunces;
}

.header__heading {
  font-size: rem(32);
  letter-spacing: rem(5);
  text-transform: uppercase;
  color: $clr-white;
}

.header__link {
  font-size: rem(20);

  &--contact {
    font-size: rem(16);
    font-weight: 900;
    text-transform: uppercase;
  }
}

.about__heading {
  font-size: rem(28);
  color: $clr-very-dark-desaturated-blue;
}

.about__link {
  font-size: rem(16);
  text-transform: uppercase;
  color: $clr-very-dark-desaturated-blue;
}

.testimonials__heading {
  font-size: rem(14);
  letter-spacing: rem(3);
  text-transform: uppercase;
  color: $clr-grayish-blue;
}

.testimonials__occupation {
  font-family: $ff-barlow;
  font-size: rem(14);
  color: $clr-grayish-blue;
}

.footer__attribution {
  font-size: rem(16);
}
